
.App {
  text-align: center;
}


.resume-pic {
  width: 500px;
  height: 700px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hero-pattern{
background-image:
  url('../src/assets/images/page-graphics/hero_bg.png')
} 

.gradient-bold{
background-image:
  url('../src/assets/images/page-graphics/bg-gradient-bold.png')
} 

.dev-name{
background-image: url('../src/assets/images/page-graphics/ksmith_texture_landing.png')
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
}
