/* google font families imported */
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Chivo:wght@300;400;700&family=Shrikhand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1 {
    @apply uppercase;
    @apply font-shrikhand;
    @apply tracking-wide

  };
  
  p, a, span{
    @apply font-chivo;
    @apply text-lg
  };

  a .nav-link .active {
    @apply bg-purple
  }
 
}

 @layer components{
 
  .nav {
    @apply bg-orange
  }

  .nav-tabs .nav-link {
    @apply font-shrikhand;
    @apply text-lg;
    @apply text-royal-purple;
    @apply uppercase;
   
    
  };


}

.icon-purple {
  color: #b93aa7;
}

body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont,'Chicle,' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


